.background {
  animation-name: fillChange;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes fillChange {
  80% {
    fill: rgba(85, 255, 0, 0.884);
  }
}
