.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #f7f7f9;
  padding: 20px 0;
  background-color: #909cbc;
}

.menuLogo {
  font-weight: bold;
}

.menuItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 70%;
  width: 100%;
}

.menuSocial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.menuSocialIcon {
  cursor: pointer;
}

.menuHamburger {
  display: none;
}

@media (max-width: 992px) {
  .menu {
    height: 80px;
    padding: 0 30px;
    flex-direction: row;
  }

  .menuHamburger {
    display: block;
    z-index: 101;
  }

  .menuItems {
    background: #909cbc;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -20px 0 50px rgba(0, 0, 0, 0.2);
    transition: all 0.7s ease;
    transform: translateX(150%);
    z-index: 100;
  }

  .menuItemsActive {
    transform: translateX(0);
  }

  .menuSocial {
    display: none;
  }
}
