.card {
  width: 340px;                 /* Set width of cards */
  border-radius: 0.5em;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */
  box-shadow: 0 0 8px 2px rgb(198, 199, 203);
  background: rgba(239, 240, 243, 0.38);
}

.cardHeader {
  color: #212529;
  text-align: center;
  font-size: 18px;
  font-weight: 340;
  background-color: #909cbc;
  padding: 9px 10px;
}

.cardMain {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (+axis) */
  padding: 15px 0;            /* Add padding to the top/bottom */
  height: 15em;
}

.mainDescription {
  color: #212529;
  font-size: 12px;
  text-align: center;
}
