.lineChart {
  margin: 0;
  background-color: rgba(236, 237, 240, 0.52);
  box-shadow: 0 0 8px 1px rgb(198, 199, 203);
}

.poster {
  position: relative;
  margin: 10px auto;
  height: 10px;
  width: 15px;
}

.descr {
  display: none;
  margin-left: -230px;
  padding: 10px;
  margin-top: -80px;
  background: #f3f3f3;
  height: 300px;
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.poster:hover .descr {
  display: block;
  position: absolute;
  top: 120px;
  z-index: 9999;
  width: 450px;
}
