.chart {
  max-width: 100%;
}

.container {
  height: 100%;
  margin-right: 30px;
  padding-top: 25px;
  overflow-y: hidden;
}

.serverError {
  position: absolute;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  text-align: center;
  font-size: 64px;
  color: rgba(172, 80, 80, 0.952);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  z-index: 100;
}
