.chart {
  max-width: 100%;
}

.container {
  height: 100%;
  padding-left: 0;
  overflow-y: hidden;
}

.serverError {
  display: flex;
  justify-content: center;
  height: 70%;
  align-content: stretch;
  align-items: center;
  text-align: center;
  font-size: 64px;
  color: rgba(54, 162, 235, 0.6);
}
