.container {
  width: 20em;
  padding: 0 0 40px;
}

.innerContainer {
  background: rgba(239, 240, 243, 0.38);
  border-radius: 0.5em;
  box-shadow: 0 0 8px 1px rgb(198, 199, 203);
  height: 14em;
  padding: 1em;
}

.sensor {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18em;
  padding: 1em;
}

.header {
  color: rgb(96, 97, 98);
}

.current {
  margin: 0.5em 0 0 0;
}

.value {
  font-weight: bold;
  font-size: 18px;
}

.ok {
  color: rgba(137, 211, 92, 0.88);
}

.warn {
  color: rgba(238, 234, 79, 0.95);
}

.danger {
  color: rgba(228, 66, 58, 0.93);
}
