.container {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: flex-start;
}

.lineChart {
  margin: 0;
  background-color: rgba(236, 237, 240, 0.52);
  box-shadow: 0 0 15px 1px rgb(176, 177, 181);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 11px;
}

.filterBtn {
  margin-right: 0;
}

.filterBtn:focus {
  outline: 0 !important;
  border: none;
}

.filterBtnActive {
  background-color: #17a2b8;
  color: white;
}
