.container {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  font-size: large;
}

.lineChart {
  margin: 0;
  background-color: rgba(236, 237, 240, 0.52);
  box-shadow: 0 0 8px 1px rgb(198, 199, 203);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 10px 10px;
}

.filterBtn {
  margin-right: 0;
}

.filterBtn:focus {
  outline: 0 !important;
  border: none;
}

.filterBtnActive {
  background-color: #17a2b8;
  color: white;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightContainerItem {
  padding: 32px;
  background-color: rgba(236, 237, 240, 0.52);
  box-shadow: 0 0 8px 1px rgb(198, 199, 203);
}
