.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  border-top: 1px solid #f8f8f8;
}

.indicator {
  flex-basis: 20%;
}

.indicator svg {
  clip-path: url(#clip-rects);
}

.indicatorTooltip {
  position: absolute;
  visibility: hidden;
  width: 100px;
  background-color: #909cbc;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  top: 20px;
  left: 0;
  z-index: 10;
}

.container:hover .indicatorTooltip {
  visibility: visible;
}

.speed {
  flex-basis: 25%;
}

.description {
  flex-basis: 35%;
}

.date {
  color: #bdbdbd;
  text-align: center;
  flex-basis: 20%;
}
