.container {
  width: 20em;
  padding: 0 0 40px;
}

.innerContainer {
  background: rgba(239, 240, 243, 0.38);
  border-radius: 0.5em;
  box-shadow: 0 0 8px 1px rgb(198, 199, 203);
  height: 14em;
  padding: 1em;
}

.sensor {
  text-align: center;
  height: 10em;
  width: 18em;
  padding: 1em;
}

.header {
  color: rgb(96, 97, 98);
  font: bold 20px;
}

.indicatorWraper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.indicator {
  height: 35px;
  width: 35px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgb(185, 185, 185);
}

.indicatorOK {
  border: solid 1px #40885c;
  background: radial-gradient(#40dd7c, #1c8645);
}

.indicatorOff {
  border: solid 1px #686868;
  background: radial-gradient(#b6b6b6, #616161);
}

.indicatorAlert {
  border: solid 1px #662525;
  background: radial-gradient(#d33a3a, #8d1f1f);
}

.statusColorOk {
  color: #65c289;
}

.statusColorAlert {
  color: #cf5e5e;
}

.serverError {
  position: absolute;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: rgba(172, 80, 80, 0.952);
  width: 90%;
  height: 95%;
  backdrop-filter: blur(6px);
  z-index: 100;
}
